@import "./reset.css";

:root{
    --color_gray :#f5f7f8;
    --color_test : #ecb0da;
    --color_test2: rgb(65, 214, 177);
    --color_w : #ffffff;
    --color_Naver : #03c75a;
    --color_border : #e3e5e8;
    
}

/* .header_nav{
    display: flex;
    justify-content: space-between;
} */

.header_nav{
    display: flex;
    justify-content: space-between;
}
.header_nav>span ,.hearer_nav_right_set>span{
    display: flex;
    width:46px;
    height: 46px;
    justify-content: center;
    align-items: center;
    margin: 5px;

}
.header_nav>span>img{
    width:26px;
    height:26px;
    
   
}
.hearer_nav_right_set>span>img{
    width:26px;
    height:26px;
  
}
.header_nav_blank{
    display: flex;
    flex-grow: 1;
    
}

.header_search{
    display: flex;
    justify-content: center;
}


.header_search_line>input{
    border: none;
    width : 480px;
    outline : 0;
    font-size : 20px;
}
.header_search_line>input{
    border: none;
    width : 480px;
    outline : 0;
    font-size : 20px;
}


.header_search_line{
    border : 1px solid  #03c75a; 
    padding : 10px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    
    

}
.header_search_line >span> img{
    width:24px;
    height: 24px;
    margin : 5px 15px;
}


.header_icon{
    display: flex;
    justify-content: center;
}

/* .header_icon_box{
;
} */
.header_icon> div> img{
    width : 44px;
    height: 44px;
    display: block;
    border: 2px solid var(--color_gray);
    border-radius: 17px;
    padding : 2px;
    margin-bottom: 5px;
}
.header_icon> div{
    font-size: 15px;
    margin: 2px;
    text-align: center;
    padding :5px;
}

.header{
    width :1280px; 
    height: 260px;
    margin: 0 auto;
    padding: 10px;
}

.content_box{
    width :1280px;
    height: 1000px;
    /* background-color: var(--color_test);  */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content_box_leftside{
    display: flex;
    flex-direction: column;
    /* background-color: var(--color_test); */
}
.ad_content{
    width: 830px;
    height: 130px;
    border: 1px solid var(--color_border);
    border-radius: 10px;
    margin-bottom: 15px;
    
} 
.ad_content>a>img{
    width: 830px;
    height: 130px;
    border-radius: 10px;
}

/* .ad_content>span>img{
width: 830px;
    height: 420px;
    border: 2px solid var(--color_border);
    border-radius: 10px;
}  */

.news_content{
    width: 830px;
    height: 430px;
    border: 1px solid var(--color_border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.news_content > div:nth-of-type(1),.news_content > div:nth-of-type(4){
 border-radius:10px;   
}


.news_content_header{
   flex-grow: 1;
    background-color: var(--color_test);
}
.news_content_nav{
    flex-grow: 1;
    background-color: var(--color_test2);
}
.news_content_forms{
    flex-grow: 5;
    background-color: var(--color_Naver);
    position: relative;
    
}
.news_content_list{
    flex-grow: 1;
    background-color: var(--color_border);
}


.login_box{
    width: 420px;
    height: 160px;
    background-color: var(--color_w);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--color_border);
    margin-bottom: 15px;
}


.login_box > a{
    background-color: var(--color_Naver);
    width: 380px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
   
    
}
.login_box > a>span{
   color:var(--color_w);
   margin-right:10px;
   
}
.login_box > a :nth-child(1){
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 1px 1px ;
}
.login_box > a :nth-child(2){
    font-size: 17px; 
    font-weight: 300; 
}

.login_box :nth-child(1){
    font-size: 15px;
}


.login_box_bottom >span{
    width: 100px;
    padding: 0px 10px 0px 5px;
    /* background-color: var(--color_test); */
}
.login_box_bottom{
    margin-top:15px;
    font-size: 14px;
}

/* 궁금해궁금해 */
/* .login_box_bottom:nth-child(1){
    background-color: #03c75a;
    height: 100px; 
} */
/* 왜 first child가 안먹히지? */

.login_box_bottom > span:nth-of-type(-n+2){
    border-right: 1px solid var(--color_border);
}
/* 이건 또 먹히네 */

.small_ad{
    border: 1px solid var(--color_border);
    border-radius: 10px;
}


.small_ad > a> img{
    width: 420px;
    height: 240px;
    border-radius: 8px;
}

.news_content_header > button:nth-of-type(-n+5){
    border: none;
    background-color: var(--color_w);

}

.A{
    position: absolute;
    width: 830px;
    height: 253px;
    background-color: rgb(255, 0, 0);
    /* display: none; */
    z-index: 7;
    /* top: 10px;
    left :50px; */
    /* pointer-events: none; */
}

.B{
    position: absolute;
    width: 830px;
    height: 253px;
    background-color: rgb(255, 166, 0);
    z-index: 6;
    display: none;
    /* top: 15px;
    left :65px; */
    pointer-events: none;
}



.C{
    position: absolute;
    width: 830px;
    height: 253px;
    background-color: rgb(223, 236, 29);
    z-index: 5;
    display: none;
    /* top: 15px;
    left :65px; */
    pointer-events: none;
   
}
.D{
    position: absolute;
    width: 830px;
    background-color: rgb(21, 255, 0);
    height: 253px;
    /* top: 20px;
    left :75px; */
    z-index: 3;
    display: none;
    pointer-events: none;
}

.E{
    position: absolute;
    width: 830px;
    height: 253px;
    background-color: rgb(82, 203, 219);
    /* top: 30px;
    left :100px; */
    z-index: 1;
    display: none;
    pointer-events: none;
}