@import "./reset.css";


:root{
    --color_gray :#f5f7f8;
    --color_test : #ecb0da;
    --color_test2: rgb(65, 214, 177);
    --color_w : #ffffff;
    --color_Naver : #03c75a;
    --color_border : #e3e5e8;
    --color_text : #909aab;
    --color_text_click : rgba(8,8,8,.5);
    --color_nav_bg :#f4f6fa;
    --color_text2 : #dadcdf;
    --color_footer_bg : #f5f6f7;

    
}
body{
    width: 100%;
    height: 100%;
}

    
/* .header_nav{
    display: flex;
    justify-content: space-between;
} */

.header_nav{
    display: flex;
    justify-content: space-between;
}

.header_nav>span ,.hearer_nav_right_set>span{
    display: flex;
    width:46px;
    height: 46px;
    justify-content: center;
    align-items: center;
    margin: 5px;

}
.header_nav>span>img{
    width:26px;
    height:26px;
    
   
}
.hearer_nav_right_set>span>img{
    width:26px;
    height:26px;
  
}
.header_nav_blank{
    display: flex;
    flex-grow: 1;
    
}

.header_search{
    display: flex;
    justify-content: center;
}


.header_search_line>input{
    border: none;
    width : 480px;
    outline : 0;
    font-size : 20px;
    
     
}
/* .header_search_line>input{
    border: none;
    width : 480px;
    outline : 0;
    font-size : 20px;
} */


.header_search_line{
    border : 1px solid  #03c75a; 
    padding : 10px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
   
    
}

.header_search_line >span> img{
    width:24px;
    height: 24px;
    margin : 5px 15px;
}


.header_icon{
    display: flex;
    justify-content: center;
}

/* .header_icon_box{
;
} */
.header_icon> div> img{
    width : 44px;
    height: 44px;
    display: block;
    border: 2px solid var(--color_gray);
    border-radius: 17px;
    padding : 2px;
    margin-bottom: 5px;
}
.header_icon> div{
    font-size: 15px;
    margin: 2px;
    text-align: center;
    padding :5px;
}

.header{
    /* width :1280px;  */
    /* display: flex; */
    height: 260px;
    margin: 0 auto;
    padding: 10px;
}
.content_box_wrap{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding-bottom: 50px;

}

.content_box{
   
    /* height: auto; */
    /* 여기뭐지? */
    /* background-color: var(--color_test);  */
    display: flex;
    gap : 20px

}
.content_box_leftside{
    display: flex;
    flex-direction: column;

    /* background-color: var(--color_test); */
}
.ad_content{
    width: 830px;
    height: 130px;
    border: 1px solid var(--color_border);
    border-radius: 10px;
    margin-bottom: 15px;
    
} 
.ad_content>a>img{
    width: 830px;
    height: 130px;
    border-radius: 10px;
}

/* .ad_content>span>img{
width: 830px;
    height: 420px;
    border: 2px solid var(--color_border);
    border-radius: 10px;
}  */

.news_content{
    width: 830px;
    height: 430px;
    border: 1px solid var(--color_border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    
   
}
.news_content > div:nth-of-type(1),.news_content > div:nth-of-type(4){
 border-radius:10px;   
}

/*여기가 카드뉴스 부분 */

.news_content_header{
   /* flex-grow: 1; */
    /* background-color: var(--color_test); */
    width:830px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
  
  
}

.news_content_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color_w);
    width:830px;
    height: 60px;
    /* position: relative; */
    /* top: 50px; */
    position: relative;
    /*     
    z-index: 6; */ 
     /* 여기가문제 */
  
}
.news_content_forms{
    /* background-color: var(--color_Naver); */
    position: relative;
    width:830px;
    height: 260px;
   
   
}
.news_content_list{
    background-color: var(--color_border);
    width:830px;
    height: 60px;
    position: relative;
    
}


.login_box{
    width: 420px;
    height: 160px;
    background-color: var(--color_w);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--color_border);
    margin-bottom: 15px;
}


.login_box > a{
    background-color: var(--color_Naver);
    width: 380px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
   
    
}
.login_box > a>span{
   color:var(--color_w);
   margin-right:10px;
   
}
.login_box > a :nth-child(1){
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 1px 1px ;
}
.login_box > a :nth-child(2){
    font-size: 17px; 
    font-weight: 300; 
}

.login_box :nth-child(1){
    font-size: 15px;
}


.login_box_bottom >span{
    width: 100px;
    padding: 0px 10px 0px 5px;
    /* background-color: var(--color_test); */
}
.login_box_bottom{
    margin-top:15px;
    font-size: 14px;
}

/* 궁금해궁금해 */
/* .login_box_bottom:nth-child(1){
    background-color: #03c75a;
    height: 100px; 
} */
/* 왜 first child가 안먹히지? */

.login_box_bottom > span:nth-of-type(-n+2){
    border-right: 1px solid var(--color_border);
}
/* 이건 또 먹히네 */

.small_ad{
    border: 1px solid var(--color_border);
    border-radius: 10px;

}


.small_ad > a> img{
    width: 420px;
    height: 240px;
    border-radius: 8px;
}
.news_content_header_nav{
    margin-left: 20px;
    width: 790px;
}
.news_content_header_nav > button:nth-of-type(-n+5){
    border: none;
    color : var(--color_text);
    background-color: var(--color_w);
    font-size: 16px;
    margin: 10px -2px;
    font-weight: 600;
    cursor: pointer;
}

.news_content_header_nav > button:nth-of-type(-n+5):hover{
    text-decoration: underline;

}
.news_content_header_nav > span:nth-of-type(-n+4){
    color: var(--color_text);
    text-align: center;
    
}
.news_content_header_nav > span:nth-of-type(1){
    font-size : 5px;

}

/* 여기가 뉴스스탠스 부분 */


.news_list{
    position: absolute;
    width: 830px;
    height: 260px;
    /* background-color: rgb(255, 0, 0); */
    /* display: none; */
    z-index: 7;
    /* top: 10px;
    left :50px; */
    /* pointer-events: none; */
    
}


.mediaEdit_list{
    position: absolute;
    width: 830px;
    height: 253px;
    background-color: rgb(255, 166, 0);
    z-index: 6;
    display: none;
    /* top: 15px;
    left :65px; */
    pointer-events: none;
}



.entertain_list{
    position: absolute;
    width: 830px;
    height: 253px;
    background-color: rgb(223, 236, 29);
    z-index: 5;
    display: none;
    /* top: 15px;
    left :65px; */
    pointer-events: none;
   
}
.sports_list{
    position: absolute;
    width: 830px;
    background-color: rgb(21, 255, 0);
    height: 253px;
    /* top: 20px;
    left :75px; */
    z-index: 3;
    display: none;
    pointer-events: none;
}

.economics_list{
    position: absolute;
    width: 830px;
    height: 253px;
    background-color: rgb(82, 203, 219);
    /* top: 30px;
    left :100px; */
    z-index: 1;
    display: none;
    pointer-events: none;
}

.news_list_wrap>div{
    width : 130px;
    height: 55px;
    background-color: var(--color_w);
    border: 1px solid var(--color_border);
    text-align: center;
    

}
.news_list_wrap>div:nth-of-type(1){
    border-top-left-radius: 7px;
}
.news_list_wrap>div:nth-of-type(6){
    border-top-right-radius: 7px;
}
.news_list_wrap>div:nth-of-type(19){
    border-bottom-left-radius: 7px;
}
.news_list_wrap>div:nth-of-type(24){
    border-bottom-right-radius: 7px;
}

.news_list_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 250px;
    align-content: center; 
  
}
.news_list_wrap > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.news_list_wrap > div>a>img{
height: 20px;

}






/* nav여러개 부분 */


/* 부모를 기준으로 absolute되는데 
부모를 뉴스 컨텐츠를 기준으로 잡아버리니까 깨짐 */
/* 어떻게 해야될까? */
.news_content_nav_wrap{
    /* zindex제일높음 */
    display: flex;
    height: 50px;
    width: 790px;
    background-color: var(--color_nav_bg);
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
     z-index: 7; 

}
.news_content_nav_wrap>div:nth-child(-n+5){
    margin-right: 20px;
}


.news_content_nav_wrap2{
    background-color: orange;
    height: 50px;
    width: 790px;
    position: absolute;
    z-index: 6;
    top:20px;
    left: 30px;
   display: none;
}

.news_content_nav_wrap3{
    background-color: yellow;
    height: 50px;
    width: 790px;
    position: absolute;
    z-index: 5;
    top:30px;
    left: 40px;
    display: none;
}

.news_content_nav_wrap4{
    background-color: greenyellow;
    height: 50px;
    width: 790px;
    position: absolute;
    z-index: 4;
    top:40px;
    left: 50px;
    display: none;
}

.news_content_nav_wrap5{
    background-color: skyblue;
    height: 50px;
    width: 790px;
    position: absolute;
    z-index: 3;
    top:50px;
    left: 60px;
    display: none;
}


.news_content_nav_left{
    display: flex;
    height: 30px;
    align-items: center;
   
}
.news_content_nav_left>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}
.news_content_nav_left>div:nth-of-type(1){
    margin-left:15px ;

}


.news_content_nav_left>div>span:nth-of-type(1),
.news_content_nav_left>div>span:nth-of-type(2){
    color: var(--color_text);
    font-size: 12px;
    margin: 0px 7px;

}

.nav_scroll_container{
    overflow: hidden;
    scroll-behavior: smooth;
    height: 16px;

}
.nav_scroll_container::-webkit-scrollbar{
    display: none;
}
.nav_scroll_container > div:hover{
    text-decoration: underline;

}
.nav_scroll_container > div{
    height:30px ; 
    /* 스크롤 한칸의 크기를 30px로 고정시킴 */
    font-size: 15px;
}

/* list */


.news_content_list{
    display: flex;
    align-items: center;
    justify-content: center;

}



/* shopping */
.shopping_box{
    margin-top: 15px;
    border: 1px solid var(--color_border);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 560px;
    width: 830px;
}
.shopping_contents_list{
    width: 830px
}

.shopping_nav_wrap,.shopping_small_nav_b_wrap,
 .shopping_contents_b_wrap, .shopping_contents_list_wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: inherit;
    width: 790px;
    
}
.shopping_nav{
   
    /* display: flex; */
    height: 60px;
    /* flex grow로 height를 하면 자식이 상속을 못받는다 */
    /* flex-grow: 1; */
    margin: 0 auto;
}
.shopping_nav_wrap > a:nth-of-type(n+2){
    margin: 0 10px;
    color: var(--color_text);
    font-size:17px;
    font-weight: 600;
}
.shopping_nav_wrap > a:nth-of-type(1){
    margin-right: 10px;
    color: var(--color_text);
    font-size:17px;
    font-weight: 600;
}
.shopping_nav_wrap >span:nth-of-type(-N+3) {
    color: var(--color_text);
    font-size:17px;
    font-weight: 500;
}
.shopping_small_nav{
    height: 60px;
    margin: 0 auto;
    
  
}
/* .shopping_small_nav_b_wrap{
    background-color: var(--color_w);
} */
.shopping_small_nav_wrap_1,.shopping_small_nav_wrap_2{
  
    height: inherit;
    flex-grow:1;
    display: flex;
    align-items: center;
}

.shopping_small_nav_wrap_1{
    background-color: var(--color_border);
    opacity: 0.8;
    padding-left: 20px;
    border-radius: 7px;

}
.shopping_small_nav_wrap_1>span:nth-of-type(-N+2){
    font-weight: 600;
    margin-right: 10PX;
}
.shopping_small_nav_wrap_2{
    background-color: var(--color_w);
    justify-content: flex-end;

}
.shopping_small_nav_wrap_2>span:nth-of-type(-n+3){
    font-size: 12px;
    
  
}
.shopping_small_nav_wrap_2>span:nth-of-type(1){
    font-weight: 600;
}
.shopping_small_nav_wrap_2>span:nth-of-type(n+3){
    font-weight: 500;
    color: var(--color_text);
}
.shopping_small_nav_wrap_2>span:nth-of-type(3){
    margin-right: 10px;
}
.shopping_small_nav_wrap_2>button:nth-of-type(-n+2){
    width: 30px;
    height: 30px;
    border: 1px solid var(--color_border);
    background-color: var(--color_w);
    border-radius: 5px;
}
/* {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */
.shopping_contents{
    /* background-color: var(--color_text); */
    height: 380px;
    margin: 0 auto;
}

.shopping_contents_list{
    height: 60px;
    margin: 0 auto;
    border: 1px solid var(--color_border);
    border-end-end-radius: 7px;
    border-end-start-radius: 7px;
}

.shopping_contents_b_wrap{
    display: flex;
    justify-content: space-between;
    
}
.shopping_contents_wrap_1>div>a>img{
    width:98px;
    height: 126px;
    border-radius: 7px;
}
.shopping_contents_wrap_1{
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 2; */
    max-width: 520px;
    max-height: 375px;
    gap : 5px;
}

.shopping_contents_wrap_1>div>a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color:black;
}
.shopping_contents_wrap_1>div>a:visited{
    color:black;
}

.shopping_contents_list_wrap{
    justify-content: center;
}
.shopping_contents_list_wrap > span:nth-of-type(-n+2){
    margin: 5px;
}
.shopping_contents_list_wrap > span:nth-of-type(1){
  color : #9858f5;
}
.shopping_contents_list_wrap>button{
    width: 35px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid var(--color_text2);
}

.shopping_contents_wrap_2{
    display: flex;
    flex-direction: column;
     background-color: var(--color_w);
     max-width: 250px;
     height: 375px;
     justify-content: space-evenly;
    
   
 }
.shopping_contents_brand,.shopping_contents_menu{
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    background-color: var(--color_gray);
    border-radius: 5px;
    border: 1px solid var(--color_border);
}


.shopping_contents_preview_card{
    display: flex;
    /* flex-grow: 2; */
    flex-wrap: wrap;
    border: 1px solid var(--color_border);
    border-radius: 5px;
    justify-content: center;
  
}
.shopping_contents_preview_card>a{
    display: flex;
    flex-direction: column;
}
.shopping_contents_preview_card>a>img{
    width: 230px;
    height: 145px;
}
.shopping_contents_menu{
    justify-content: center;

}
.shopping_contents_menu>div{
    width: 55px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shopping_contents_menu>div>img{
    width: 32px;
    height: 32px;
    border-radius: 25px;
    border: 1px solid var(--color_border);  
}
.shopping_contents_menu>div>span{
    display: inline-block;
    font-size: 13px;
    margin-top: 3px;
}
.shopping_contents_brand >span:nth-of-type(2N+1){
    color: black;
    opacity: 0.8;
    font-weight: 500;
    margin: 0 5px;
    
}
.shopping_contents_brand >span:nth-of-type(2N){
    color: var(--color_text2);
    margin: 0 5px;
}


.etc_content{
    width: 830px;
    height: 850px;
    /* background-color: var(--color_test); */
    border : solid 1px var(--color_border);
    margin-top: 15px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}
.etc_content_mini_card{
    display: flex;
    flex-direction: column;

}
.content_box_rightside{
    display: flex;
    flex-direction: column;

}


.etc_content_nav{
    height: 55px;
    width: inherit;
    display: flex;
    justify-content: center;
}

.etc_content_nav_wrap>a{
    font-size: 16.5px;
    font-weight: 600;
    text-decoration: none;
}

.etc_content_nav_wrap>a:visited{
    color: var(--color_text);
}



.etc_content_nav_wrap>span{
    font-size: 16.5px;
    font-weight: 500;
    color: var(--color_text);

}

.etc_content_nav_wrap{
    width: 790px;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.etc_content_card>div>a>img{
    width: 250px;
    height: 140px;
    border: 1px solid var(--color_border);
    border-radius: 7px;
}


.etc_content_card{
    display: flex;
    justify-content: center;
    gap : 20px;
    border-bottom: 1px solid var(--color_border);
    padding-bottom: 10px;
    padding: 0 20px;
    height: 27%;
}
.etc_content_card>div>a>div{
    margin-bottom: 5px;
}
.etc_content_card>div>a{
    text-decoration: none;
}
.etc_content_card>div>a:visited{
    color: black;
}
.card_cars_title{
    color :#2981db;
    font-weight: 600;
    font-size: 14px;
}


.etc_content_card>div>a>div:nth-of-type(2):hover{
    text-decoration: underline;
}
.etc_content_card>div>a>div:nth-of-type(2){
    font-weight: 600;
    font-size: 15px;
}
.etc_content_card>div>a>div:nth-of-type(3){
    font-weight: 500;
    opacity: 0.7;

}


.etc_content_mini_card{
    /* background-color: var(--color_text2); */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(57%);
    /* 830px */
    align-items: center;
    padding-top: 20px;
    border-bottom: 1px solid var(--color_border);

}
/* card_n */
.etc_content_mini_card>div{ 
    width: calc(43%);
    display: flex;
    /* justify-content: center; */
    margin-bottom: 10px;

    /* 1vh == 85px */
}
.etc_content_mini_card>div>a{
    text-decoration: none;
}
.etc_content_mini_card>div>a:visited{
    color : black;
   
}
/* 45% gap(5%) 50% */
.etc_content_mini_card_link>img{
    width: calc(45%);
    border-radius: 5px;
}
/* 여기가 a부분 */
.etc_content_mini_card_link{
    display: flex;
     gap : 10px
}
.etc_content_mini_card_brand>div:nth-of-type(2)>span{
    color: var(--color_text);
}
.etc_content_mini_card_brand>div:nth-of-type(2)>img{
    width:20px;
    height : 20px;
    border-radius: 15px;
}
.etc_content_mini_card_brand>div:nth-of-type(1){
    margin-bottom: 5px;
}
.etc_content_mini_card_brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.etc_content>button{
    width: 100%;
    height: 7%;
    background-color: var(--color_w);
    border: none;
}



@media(max-width:1360px){
    body{
        /* background-color: black; */
        
    }
   .header{
    /* background-color: #9858f5; */
    display: flex;
    flex-direction: column;

   }
    .header_nav2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: #2981db; */
    }

     .content_box_rightside{
        display: none;
    }
    .content_box_wrap{

    }
}
/* 819 */
@media (max-width:819px) {
    body{
        /* width: 639px; */
        /* background: yellow; */
    }
    .header_search_line{
       width: calc(70%);
       
    }
    .header_search_line> span>img{
        width: calc(50%);
        height: calc(50%);
    }
    .header_icon{
        width: inherit;
    }
    .header_icon>div{
        width: calc(70%);
        font-size: 0.6em;
        justify-content: center;
    }
    .header_icon >div >img{
        width: calc(50%);
        height: calc(50%);

        margin-left: 6px;
    }
    .shopping_box{
        display: none;
    }
    .etc_content{
        width: 80vw;
    }
    .etc_content_card > div >a> img{
        width: 20vw;
        height: 15vw;
    }
    .etc_content_nav_wrap > a ,.etc_content_nav_wrap > span{
        font-size: 0.8em;
    }
/* content */
    .content_box{
        width: inherit;
        flex-direction: column-reverse;
        
    }
    .header{
        height: calc(70%);
    }
    .ad_content,.login_box,.small_ad,.news_content{
        display: none;
    }
    
    .shopping_box{
        width: calc(70%); 
        /* width 830 height 530 */
        margin-left: 100px;
    }

    .shopping_contents_wrap_2{
        display: none;
    }


}

@media(max-width:689px){
    .header_search_line > input{
        font-size: 0.6em;
    }
     
    .etc_content_nav_wrap{
        padding-left: 20px;
    }
}


/* footer부분*/
.footer{
    height:460px;
    background-color: var(--color_footer_bg);
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer_content{
    display: flex;
    flex-direction: column;
    padding:20px;
}
.footer_nav_wrap{
    width: 1275px;
    display: flex;
    height: 30%;
}
.footer_nav{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    gap: 10px;
}
.footer_nav_box{
    width: 100%;
    display: flex;
    flex-grow: 1;
    gap: 15px;
    align-items: center;
}
.footer_nav_box>a>img{
    width:100%;
    border-radius: 7px;

}
.footer_nav_box>div>span:nth-of-type(1){
    background-color: var(--color_text);
    border-radius: 5px;
    color:#f4f6fa;
    width: fit-content;
    padding:2px
}

.footer_nav_box>div>span:nth-of-type(2){
    color: var(--color_text);
    font-weight: 400;
}
.footer_nav_box>div>a{
    font-weight: 600;
}
.footer_nav_box>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}